

/** TRANSLATIONS **/
form .row {
    display: flex;
    flex-wrap: wrap;
}
form .row .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
form .row .w-100{
    width: 100% !important;
    height: 15px;
}
.flash {
    padding: 0 15px;
    margin-bottom: -10px;
}
.control-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-left: 2px;
}
.field-text {
    position: relative;
    /*
    top: 50%;
    transform: translateY(-50%)
    */
}
.field-textarea {
    position: relative;
    /*
    top: 50%;
    transform: translateY(-50%)
    */
}
.field-textarea textarea {
    resize: vertical;
}
.action-switch {
    width: 100%;
}
img.country {
    display: inline-block;
    width: 20px;
    height: 20px;
}
@media(max-width:768px) {
    .action-switch {
        margin-bottom: 10px;
    }
    .form-locales {
        display: none;
    }
    form .row .col.col-xs-12 {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    form .row .w-100 {
        margin: 20px 15px;
        height: 1px;
        background-color: #F0F0F0;
    }
    .field-textarea {
        top: 0;
        transform: initial;
    }
    .field-label {
        text-align: left;
        margin: 10px 0;
    }
    .control-label {
        display: inline;
    }
}
@media(min-width:768px) {
    .field-label {
        display: none;
    }
}
/** /TRANSLATIONS **/

.filter-state {
    margin-left: 10px;
    padding: 3px 8px 3px 8px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #EEE;
}

.timeline>li>.timeline-item>.timeline-header>.time {
    color:#999;
    padding:10px;
    font-size: 12px;
}


/* Actions massives tableau */
.batch-actions .col-grow {
   flex-grow: 1;
}
.batch-actions .col-shrink {
   flex-shrink: 1;
   flex-grow: 0!important;
}

.batch_form.form-inline .form-group {
   margin-bottom: 0;
}

.batch_form .input-group .input-group-addon,
.batch_form .form-control,
.batch_form .form-inline .form-control {
   border: 0 none;
}

.batch_form input {
   border: 0 none;
   padding: 7px 5px;
   border-bottom: 1px solid #ddd;
}

td.batch-checkbox, th.batch-checkbox{
    width:30px;
    text-align:center;
}

th.batch-checkbox span{
    padding: 10px 6px;
    white-space: nowrap;
    display: block;
}

#dropdownBatchActionButton {
   border: 1px solid #ddd;
}

.eap-edit-in-place{
    cursor:pointer;
}

.batchForms .select2-selection{
    min-width:200px;
}

.batch-nb-item{
    font-weight: bolder;
}
