{% if data['value'] is defined and data['value'] and data['value'] != filtertype.defaults['value'] %}
<span class="filter-state">
    <small>{{ filtertype.filterLabel |trans }}</small>
    <span class="badge">{{ data['value'] |trans }}</span>
</span>
{% endif %}