{% if  data['value'] is not empty %}
<span class="filter-state">
<small>{{ filtertype.filterLabel |trans }}</small>
{% for val in data['value'] %}
<span class="badge">{{ ('wf.etat.' ~ val)|trans }}</span>
{% endfor %}
</span>
{% endif %}