<select class="form-control" name="{{nameprefix}}value{{namesuffix}}">
    <option value="all">Tous</option>
    <option value="true" {% if  filtertype.isSelected(data,"true") %} selected="selected" {% endif %}>Oui</option>
    <option value="false" {% if filtertype.isSelected(data,"false") %} selected="selected" {% endif %}>Non</option>
</select>
