<select class="form-control select2" data-widget="select2"  {% if filtertype.multiple %} multiple {% endif %}  name="{{nameprefix}}value{{namesuffix}}{% if filtertype.multiple %}[]{% endif %}">
    {% for k,v in filtertype.choices %}
        <option value="{{ k }}" {% if data['value'] is defined and filtertype.isSelected(data,k) %} selected {% endif %}>{{ v }}</option>
    {% endfor %}
</select>
