{% if value is not null %}
    {{ value|enum_label(field_options.class, field_options.domain) }}
{% else %}
    <span class="label">{{ 'label.null'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}


