{% form_theme add_form with easyadmin_config('design.form_theme') %}
{{ form_start(add_form) }}
    {{ form_widget(add_form) }}
    <div class="form-group field-submit">
        <button type="submit" id="form_submit" name="form[submit]" class="btn-default btn">{{'sublist.add'|trans}}</button>
    </div>
{{ form_end(add_form) }}